@model  bool
@{
    string name = ViewData.TemplateInfo.GetFullHtmlFieldId("");
    List<string> renderRadioList = new List<string>();
    if (ViewData.ModelMetadata.AdditionalValues.ContainsKey("RadioList"))
    {
        renderRadioList = ViewData.ModelMetadata.AdditionalValues["RadioList"].ToString().Split(',').ToList();
    }
}
<div class="radiolist">
    @if (Model)
    { 
        @renderRadioList[1]
    }
    else
    {
        @renderRadioList[0]
    }
</div>


