@model  string
@{
    var name = ViewData.TemplateInfo.GetFullHtmlFieldName("");
    var imgList = new List<string>();
    if (!string.IsNullOrEmpty(Model))
    {
        imgList = Model.Split(',').ToList();
    }
}
<div class="field-uploadimg-list" id="@Html.Raw(name + "_imgbox")">
    @foreach (var img in imgList)
    {
        <div class="img-item" style="display: block">
            <a href="@img" target="_blank" title="点击查看大图">
                <img  src="@UIHelper.GetImgUrl(img, ImgUrlType.Img120)"  />
            </a>
        </div>
    }
</div>
