body {
    font-size: .85em;
    font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
    color: #232323;
    background-color: #fff;
    margin: 0;
    padding: 0;
}

header, footer, nav, section {
    display: block;
}


/* Styles for basic forms
-----------------------------------------------------------*/
fieldset {
    border: 1px solid #ddd;
    padding: 0 1.4em 1.4em 1.4em;
    margin: 0 0 1.5em 0;
}

legend {
    font-size: 1.2em;
    font-weight: bold;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

li {
    margin: 0;
    padding: 0;
    list-style: none;
}

p {
    margin: 0;
    padding: 0;
    line-height: 24px;
}

textarea {
    min-height: 75px;
}

.footer {
    color: #777;
    padding: 30px 0;
    border-top: 1px solid #e5e5e5;
    margin-top: 70px;
}

span.field-validation-error {
    color: #c9302c;
    background: url(images/16/form_error.png) 3px 2px no-repeat;
    padding-left: 24px;
}

.list-page-jump {
    position: relative;
    float: left;
    padding: 6px 12px;
    margin-left: -1px;
    line-height: 1.428571429;
    text-decoration: none;
    background-color: #ffffff;
    border: 1px solid #dddddd;
    width: 40px;
    outline: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.list-page-link {
    display: none;
}

.list-page-btn {
    position: relative;
    float: left;
    padding: 6px 12px;
    margin-left: -1px;
    line-height: 1.428571429;
    text-decoration: none;
    background-color: #ffffff;
    border: 1px solid #dddddd;
    width: 55px;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.table-container {
    min-height: 350px;
}

.action-info {
    position: fixed;
    top: 100px;
    padding: 10px 10px 10px 40px;
    z-index: 99999;
    width: 250px;
    left: 50%;
    margin-left: -125px;
}

.task-container {
    min-height: 70px;
}

.task-td {
    cursor: pointer;
}

    .task-td :hover {
        background: #eeeeee;
    }


.task-td-today {
    background:#ffdb99;
}