@{
    ViewBag.Title = "编辑时间费用类别"; 
}

<div class="page-header">
    <a class="btn btn-default pull-right" id="btn-return" href="@Url.Action("index")">返回列表</a>
    <h1>编辑时间费用类别</h1>
</div>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.EditorForModel()
    <div class="form-field form-field-submit">
        <button type="submit" class="btn btn-primary ">
            提交表单</button>
    </div>
}


