@{
    ViewBag.Title = "Index";
}
<div class="section-item">
    <a class="btn btn-default toggle pull-right">更多</a>
    <h1 class="page-header">花费</h1>
    <div class="row">
        <div class="col-xs-3 col-sm-2">
            <h4>年结</h4>
            <div class="cost-item">
                <p>早餐：￥ <b>13.5</b> </p>
            </div>
            <div class="cost-item">
                <p>中餐：￥ <b>13.5</b> </p>
            </div>
            <div class="cost-item">
                <p>水果：￥ <b>13.5</b> </p>
            </div>
            <div class="cost-item">
                <p>零食：￥ <b>13.5</b> </p>
            </div>
            <div class="cost-item">
                <p>娱乐：￥ <b>13.5</b> </p>
            </div>
        </div>
        <div class="col-xs-3 col-sm-2">
            <h4>月结</h4>
            <div class="cost-item">
                <p>早餐：￥ <b>13.5</b> </p>
            </div>
            <div class="cost-item">
                <p>中餐：￥ <b>13.5</b> </p>
            </div>
            <div class="cost-item">
                <p>水果：￥ <b>13.5</b> </p>
            </div>
            <div class="cost-item">
                <p>零食：￥ <b>13.5</b> </p>
            </div>
            <div class="cost-item">
                <p>娱乐：￥ <b>13.5</b> </p>
            </div>
        </div>
        <div class="col-xs-3 col-sm-2">
            <h4>周结</h4>
            <div class="cost-item">
                <p>早餐：￥ <b>13.5</b> </p>
            </div>
            <div class="cost-item">
                <p>中餐：￥ <b>13.5</b> </p>
            </div>
            <div class="cost-item">
                <p>水果：￥ <b>13.5</b> </p>
            </div>
            <div class="cost-item">
                <p>零食：￥ <b>13.5</b> </p>
            </div>
            <div class="cost-item">
                <p>娱乐：￥ <b>13.5</b> </p>
            </div>
        </div>
        <div class="col-xs-3 col-sm-2">
            <h4>2014-10-28</h4>
            <div class="cost-item">
                <p>早餐：￥ <b>13.5</b> </p>
            </div>
            <div class="cost-item">
                <p>中餐：￥ <b>13.5</b> </p>
            </div>
            <div class="cost-item">
                <p>水果：￥ <b>13.5</b> </p>
            </div>
            <div class="cost-item">
                <p>零食：￥ <b>13.5</b> </p>
            </div>
            <div class="cost-item">
                <p>娱乐：￥ <b>13.5</b> </p>
            </div>
        </div>
        <div class="col-xs-3 col-sm-2">
            <h4>2014-10-28</h4>
            <div class="cost-item">
                <p>早餐：￥ <b>13.5</b> </p>
            </div>
            <div class="cost-item">
                <p>中餐：￥ <b>13.5</b> </p>
            </div>
            <div class="cost-item">
                <p>水果：￥ <b>13.5</b> </p>
            </div>
            <div class="cost-item">
                <p>零食：￥ <b>13.5</b> </p>
            </div>
            <div class="cost-item">
                <p>娱乐：￥ <b>13.5</b> </p>
            </div>
            <div class="cost-item">
                <p>共计：￥ <b>45.5</b> </p>
            </div>
        </div>
        <div class="col-xs-3 col-sm-2">
            <h4>2014-10-28</h4>
            <div class="cost-item">
                <p>早餐：￥ <b>13.5</b> </p>
            </div>
            <div class="cost-item">
                <p>中餐：￥ <b>13.5</b> </p>
            </div>
            <div class="cost-item">
                <p>水果：￥ <b>13.5</b> </p>
            </div>
            <div class="cost-item">
                <p>零食：￥ <b>13.5</b> </p>
            </div>
            <div class="cost-item">
                <p>娱乐：￥ <b>13.5</b> </p>
            </div>
        </div>
    </div>
</div>

